*{
    margin: 0;              /*removing default margins and paddings from all elements*/
    padding: 0;
}
#container{
    display: flex;           /*container properties*/
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    border: 3px solid #000;
}
.cell{
    border:solid 1px #ccc; /*default properties for a cell */
    box-sizing: border-box;
    width: calc(100%/16);
    height: calc(100%/16);
}